<html>
<head><!-- jQuery -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<!-- jQuery UI -->
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
</head>
<body>
<form action="/upload" method="POST" enctype="multipart/form-data">
  <h1>New Track</h1>
  <h2>Upload</h2>
  <input type="text" name="title" id="title" value="Enter Title Here" /><br>
  <input type="text" name="descr" id="descr" value="Enter Description Here" /><br>
  <input id="file" name="file" type="file" /><br>
  <input type="submit" value="Upload" /> <a href="/viewUpload">Cancel</a>
</form>
</body>
<!--<script type="text/javascript" src="js/recorder.js"></script>-->
</html>
