.container-fluid
  .row-fluid
    .col-md-6.col-md-offset-3
      %h3.alert
        %a{:href => "/index"}
          %i.glyphicon.glyphicon-chevron-left
        New Track
        %span.glyphicon.glyphicon-music
  .row-fluid
    .col-md-6.col-md-offset-3
      %form#upload-form.alert{:action => "/upload", :enctype => "multipart/form-data", :method => "POST"}
        .form-group
          %label{:for => "title"} Title
          %input#title.form-control{:name => "title", :placeholder => "Enter a title for your sound...", :type => "text"}
        .form-group
          %label{:for => "descr"} Description
          %textarea#descr.form-control{:name => "descr", :placeholder => "Enter a title for your description...", :rows => "3", :type => "text"}
        .form-group
          %label{:for => "file"} Upload Sound File
          %input#file{:name => "file", :type => "file", :style=>"margin: 0 auto;"}
        .form-group
          %label{:for => "art"} Album/Track Art
          %input#art{:name => "art", :type => "file", :style=>"margin: 0 auto;"}
        %input.btn.btn-info.btn-large{:type => "submit", :value => "Save"}
