<html>
<head><!-- jQuery -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<!-- jQuery UI -->
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
</head>
<body>
<form action="/upload" method="POST" enctype="multipart/form-data">
  <h1>New Track</h1>
  <h2>Upload</h2>
  <input type="text" name="title" id="title" value="Enter Title Here" /></br>
  <input id="file" name="file" type="file" /><br>
  <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;or&nbsp;&nbsp;-</h2>
  <h2> Record </h2>
  <div id="record">This will be a record button one day...</div><br><br>
  <p>Recording feature currently saves as a .wav file; this is uncompressed and makes things extremely large and difficult for upload, so you should not use this right now until I figure out how to make an MP3 file.</p>
  <input type="submit" value="add it bitch" />
</form>
</body>
<script type="text/javascript" src="js/recorder.js"></script>
</html>
