<h1>Hello, <%=username%> </h1>

<h3>This is a test for openshift remote tracking. This will not go to master at all.</h3>

<a href='/newUpload'>Add an Upload</a>
<a href='/viewUpload'>View your Uploads</a>
